.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header */
.main .header {
    background-color: #a6192e;
}

.main .header .header-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .header .header-cover .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main .header .header-cover .header-menu .header-brand {
    margin-right: 20px;
    padding: 10px 0;
}

.main .header .header-cover .header-menu .header-brand img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.main .header .header-cover .header-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.main .header .header-cover .header-menu ul li {
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    position: relative;
}

.main .header .header-cover .header-menu ul li a {
    text-decoration: none;
    color: #f5deb3;
    font-weight: 700;
    padding: 5px 0;
    line-height: 1;
    position: relative;
    font-size: 18px;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f5d4b7, #f5d4b7 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

#primary li a:before {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #f5d4b7;
    transition: all 0.3s ease-in-out;
}

#primary li a:hover {
    background-position: 0%;
}

#primary li a:hover:before {
    width: 100%;
}

.main .header .header-cover .header-function {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .header .header-cover .header-function ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.main .header .header-cover .header-function button {
    margin-right: 20px;
    transition: all .5s ease;
    color: #ffffff;
    border: 3px solid #771121;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 15px;
}

.main .header .header-cover .header-function button:hover {
    color: #f5d4b7;
    background-color: #C45965;
}

.main .header .header-cover .header-function ul li a {
    width: 40px;
    height: 40px;
    background-color: #b22222;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #771121;
    z-index: 1;
}

.main .header .header-cover .header-function ul li a .icon {
    position: relative;
    color: #fff;
    transition: .5s;
    z-index: 3;
    font-size: 14px;
    padding: 10px;
}

.main .header .header-cover .header-function ul li a:hover .icon {
    color: #fff;
    color: #f5d4b7;
    transform: rotateY(360deg);
}

.main .header .header-cover .header-function ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.main .header .header-cover .header-function ul li a:hover:before {
    top: 0;
}

.main .header .header-cover .header-function ul li:nth-child(1) a:before {
    background-color: #C45965;
}

.main .header .header-cover .header-function ul li:nth-child(2) a:before {
    background-color: #C45965;
}

/* End Header */

/* Footer */
.main .footer {
    background-color: #f5d4b7;
    padding-top: 30px;
}

.main .footer .footer-main {
    padding-bottom: 55px;
}

.main .footer-content {
    text-align: center;
    background-color: #a6192e;
    color: white;
    font-size: 14px;
    padding: 16px 15px 15px;
}

.main .footer .footer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .footer .footer-page .box-images img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.main .footer .footer-page .box-subscribe {
    margin-top: 20px;
    font-weight: bold;
    font-size: 17px;
}

.main .footer .footer-page .box-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main .footer .footer-page .box-email input {
    padding: 7px 10px;
    padding-right: 100px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: transparent;
    background-color: #FFFFFF;
}

.main .footer .footer-page .box-email button {
    background-color: #FFFFFF;
    padding: 8.6px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .footer ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main .footer ul li {
    margin-bottom: 5px;
}

.main .footer ul li:nth-child(1) {
    margin-bottom: 10px;
}

.main .footer ul li .icon {
    display: flex;
    align-items: center;
}

.main .footer ul li .icon i {
    margin-right: 10px;
    font-size: 20px;
}

.main .footer ul li .icon .fa-facebook {
    color: #3b5998;
}

.main .footer ul li .icon .fa-instagram {
    color: #e95950;
}

/* End Footer */

/* Slide */
.main .body .slideshow {
    margin-top: 16px;
}

.main .body .slideshow .slick-slide .slide-content {
    padding: 0 7px;
    overflow: hidden;
    height: 100%;
    border-radius: 32px !important;
    outline: none;
}

.main .body .slideshow .slick-slide .slide-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 32px !important;
}

.main .body .slideshow .slick-slide .slide-content a img {
    aspect-ratio: 986/300;
    width: 100% !important;
    height: auto !important;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* End Slide */

/* Slide Arrow */
.main .body .slick-arrow-square {
    position: relative;
}

.main .body .slick-arrow-square .slick-arrow {
    background-color: #a6192e;
    border: 0;
    position: absolute;
    top: 50%;
    z-index: 100;
    color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.main .body .slick-arrow-square .slick-arrow:before {
    content: "\f060";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #ffffff;
    font-size: 24px;
}

.main .body .slick-arrow-square .slick-arrow:hover {
    background-color: #C45965;
    color: #f5d4b7;
}

.main .body .slick-arrow-square .slick-prev {
    left: 2%;
}

.main .body .slick-arrow-square .slick-next {
    right: 2%;
}

.main .body .slick-arrow-square .slick-next:before {
    content: "\f061";
}

/* End Slide Arrow */

/* Order Bar */
.main .body .order-bar {
    margin-top: 10px;
}

.main .body .order-bar .order-method {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .body .order-bar .order-method button {
    padding: 4px 24px;
    padding-bottom: 8px;
    border: 0;
    background-color: #a6192e;
    color: #FFFFFF;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.main .body .order-bar .order-address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .body .order-bar .order-address input {
    height: 100%;
    padding: 10px 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .0015em;
    border: 1px solid #bdbdbd;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 50%;
    outline: none;
}

.main .body .order-bar .order-address button {
    border: 0;
    color: #FFFFFF;
    background-color: #a6192e;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

/* End Order Bar */

/* Order Content */
.main .body .order-content {
    margin-top: 24px;
}

.main .body .order-content .menu-title {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    color: #a6192e;
    margin-bottom: 24px;
}

.main .body .order-content ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main .body .order-content ul li {
    margin-right: 24px;
    color: #a6192e;
    border-bottom: 1px solid #a6192e;
    font-size: 24px;
    font-weight: 700;
}

.main .body .order-content .order-list {
    margin-top: 20px;
}

.main .body .order-content .order-list .order-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    overflow: hidden;
}

.main .body .order-content .order-list .order-box .order-image {
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .body .order-content .order-list .order-box .order-image img {
    aspect-ratio: 16/9;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

.main .body .order-content .order-list .order-box .order-text {
    padding:10px;
}

.main .body .order-content .order-list .order-box .order-text .promotion-name {
    color: #4f4f4f;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: .0015em;
    display: block;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding:10px;
}

.main .body  .order-content .order-list .order-box .order-text .promotion-price {
    color:#25282d;
    text-align: center;
    font-weight: bold;
    font-size: 16px ;
}

.main .body .order-content .order-list .order-box .order-text .order-name {
    font-size: 16px;
    font-weight: 700;
    color: #a6192e;
    line-height: 19px;
    letter-spacing: .0015em;
    margin-bottom: 5px;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
    padding: 0 5px;
    text-align: center;
}

.main .body .order-content .order-list .order-box .order-text .order-price {
    text-align: center;
    font-weight: 700;
    line-height: 20px;
    color: #333;
    margin-bottom: 0;   
    padding-bottom: 40px;
}

.main .body .order-content .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      margin-bottom: 30px;
}

.main .body .order-content .button a {
    background: #00b2a9;
    border-radius: 48px;
    color: #fff;
    padding: 10px 29px 14px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    line-height: 1.25;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.main .body .order-content .order-button {
    display: flex;
    justify-content: center;
}

.main .body .order-content .order-button button {
    color: #fff;
    padding: 10px 48.5px 14px;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 32px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .0025em;
    margin-top: 16px;
    background-color: #ff7d01;
    border: 0;
    margin-bottom: 15px;
}
/* End Order Content */

/* Promotion Content */

.main .body .order-content .promotion-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 40px;
}


.main .body .order-content .promotion-box .order-image {
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .body .order-content .promotion-box .order-image img {
    aspect-ratio: 16/9;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
}

.main .body .order-content .promotion-box .order-text {
    padding:10px;
}

.main .body .order-content .promotion-box .order-text .promotion-price {
    color:#25282d;
    text-align: center;
    font-weight: bold;
    font-size: 16px ;
}

.main .body .order-content .promotion-box .order-text .menu-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0;
    padding:0;
    margin-top: 10px;
}

.main .body .order-content .promotion-box .order-text .menu-list li {
    font-size: 12px;
    color:#bdbdbd;
    border-bottom: none;
    margin-right: 0;
}

.main .body .order-content .promotion-box .order-text .promotion-name {
    color: #a6192e;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: .0015em;
    display: block;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding:10px;
}

.main .body .order-content .promotion-box .order-text .order-name {
    font-size: 16px;
    font-weight: 700;
    color: #a6192e;
    line-height: 19px;
    letter-spacing: .0015em;
    margin-bottom: 5px;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
    padding: 0 5px;
    text-align: center;
}

.main .body .order-content .promotion-box .order-text .order-price {
    text-align: center;
    font-weight: 700;
    line-height: 20px;
    color: #333;
    margin-bottom: 0;   
    padding-bottom: 40px;
}

.main .body .order-content .order-button {
    display: flex;
    justify-content: center;
}

.main .body .order-content .line {
    content: "";
    height: 1px;
    background-color: #c3c0c0;
    width:80%;
}

.main .body .order-content .order-button button {
    color: #fff;
    padding: 10px 48.5px 14px;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 32px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .0025em;
    margin-top: 16px;
    background-color: #a6192e;
    border: 0;
    margin-bottom: 15px;
}

/* Pagination */
.main .body .pagination-cover {
    margin-bottom: 80px;
}

.main .body .pagination-cover .pagination {
    display: flex;
    flex-direction: row;
}

.main .body .pagination-cover .pagination-item {
    margin-right: 18px;
    border-radius: 10px;
    border: solid 1px #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6192e;
}

.main .body .pagination-cover .pagination-item a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    color:#FFFFFF;
}

.main .body .pagination-cover .pagination-item:hover {
    background-color: #C45965;
    transition: 0.2s all;
}

.main .body .pagination-cover .pagination-item:hover a {
    color:#f5d4b7;
}

.main .body .pagination-cover .pg-active {
    background-color: #C45965;
    color:#f5d4b7;
}

.main .body .pagination-cover .pg-active a {
    color:#f5d4b7;
}
/* End Pagination */
/* End Promotion Content */

/* Menu Content */
/* Category Menu Slide */

.main .body .category-menu {
    margin-top: 40px;
}

.main .body .category-menu .slideshow-menu .slick-slide .slide-content a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main .body .category-menu .slideshow-menu .slick-slide .slide-content a img {
    border-radius: 15px;
    border: 4px solid transparent;
    width:60%;
    max-width: 100%;
    object-fit: cover;
}

.main .body .category-menu .slideshow-menu .slick-dots li {
    margin:0;
    padding:0;
}

.main .body .category-menu .slideshow-menu .slick-dots li button:before {
    width:20px;
    height: 20px;
    opacity: 0.5;
    color: #a6192e;
}

.main .body .category-menu .slideshow-menu .slick-dots .slick-active button:before {
    opacity: 1;
}
/* End Category Menu Slide */

.main .body .order-content .scroll-bar {
    width: 80%;
    height: 10px;
    background: #f3f3f3;
    margin: 10px auto;
    position: relative;
    border-radius: 5px;
}

.main .body .order-content .scroll {
    height: 100%;
    width: 0;
    background: #4caf50;
    border-radius: 5px;
    transition: width 0.3s;
}
/* End Menu Content */

/* Store */
.main .body .store-label {
    font-size: 16px;
    color:#a6192e;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Store Function */

.main .body .store-function {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.main .body .store-function .select-store {
    outline: none;
    font-size: 12px;
    margin-right: 15px;
}

.main .body .store-function .select-store select {
    padding:10px;
    padding-right: 100px;
    border-radius: 10px;
    outline: none;
    width:100%;
    background-color: #ffffffd7;
}

.main .body .store-function .select-button {
    display: flex;
    align-items: center;
    padding:10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: #a6192e;
    border:none;
}

.main .body .store-function .select-button i {
    font-size: 14px;
    margin-right: 10px;
    color:white;
}

.main .body .store-function .select-button .select-text {
    font-size: 12px;
    color:white;
}

/* End Store Function */

.main .body #map {
    height: 400px; /* Chiều cao của bản đồ */
    width: 100%; 
    
}

/* Store List */
.main .body .store-list {
    margin-top: 10px;
    margin-bottom: 40px;
}

.main .body .store-list .store {
    padding: 20px;
    margin-top: 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main .body .store-list .store .store-title {
    color:#a6192e;
    font-size: 24px;
    font-weight: 600;
}

.main .body .store-list .store .store-address {
    font-size: 16px;
    color:#888888;
}

.main .body .store-list .store ul {
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main .body .store-list .store ul li {
    margin-right: 10px;
}

.main .body .store-list .store .store-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .body .store-list .store .store-bottom .store-left .store-time {
    font-size: 16px;
    color:#888888;
}

.main .body .store-list .store .store-bottom .store-left .store-phone {
    font-size: 16px;
    color:#888888;
}

.main .body .store-list .store .store-bottom button {
    display: flex;
    border:none;
    align-items: center;
    background-color: #a6192e;
    padding:10px;
    border-radius: 20px;
    color:white;
}

.main .body .store-list .store .store-bottom button i {
    margin-right: 10px;
    font-size: 14px;
}

.main .body .store-list .store .store-bottom button .context {
    font-size: 14px;
}
/* End Store List */
  
/* End Store */

/* Party */
.main .body .party-top {
    margin-top: 30px;
}
.main .body .party-top .party-header {
    font-size: 24px;
    font-weight: 700;
    color: #a6192e;
    margin-bottom: 10px;
    text-align: center;
}

.main .body .party-top .party-header-desc {
    font-size: 16px;
    text-align: center;
}

.main .body .party-top ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.main .body .party-top .order-button {
    text-align: center;
    margin-top: 32px;
}

.main .body .party-top .order-button button {
    padding:10px 30px;
    border:none;
    background-color: #a6192e;
    color:white;
    border-radius: 20px;
}

.main .body .party-middle {
    margin-top: 40px;
}

.main .body .party-middle .menu-title {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color:#a6192e;
    font-weight: 700;
}

.main .body .party-last {
    border-top: 1px solid #f2f2f2;
    padding:32px 16px;
}

.main .body .party-last .party-title {
    text-align: center;
    font-size: 24px;
    color:#a6192e;
    font-weight: 700;
}

.main .body .party-last .party-image {
    text-align: center;
    margin-top: 32px;
}

.main .body .party-last .party-image img {
    width:100%;
    object-fit: cover;
}

.main .body .party-last form {
    margin-top: 24px;
}

.main .body .party-last form .information {
    display:flex;
    grid-gap:32px;
    gap:32px;
}

.main .body .party-last form .information .information-item{
    flex-basis: 50%;
    padding: 16px 32px 32px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.main .body .party-last form .information .information-item h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .005em;
    color: #a6192e;
    margin-bottom: 16px;
}

.main .body .party-last form .information .information-item .form-style .form-group {
    margin-bottom: 1rem;
}

.main .body .party-last form .information .information-item .form-style label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .0025em;
    color: #333;
    margin-bottom: 8px;
}

.main .body .party-last form .information .information-item .form-style .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.main .body .party-last form .information .information-item .form-style .list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.main .body .party-last form .information .information-item .form-style .list-unstyled li .custom-control {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.main .body .party-last form .information .information-item .form-style .list-unstyled li .custom-control input{
    cursor: pointer;
    width: 1rem;
    height: 2rem;
    margin-right: 10px;
}

.main .body .party-last form .information .information-item .form-style .list-unstyled li .custom-control label {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .0025em;
    color: #333;
}

.main .body .party-last form .information .information-item .form-style .select-date-group {
    display: flex;
    column-gap: 13px;
}

.main .body .party-last form .information .information-item .form-style .org-custom-select {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    color: #bdbdbd;
    padding:12px 16px;
    padding-right: 40px;
    outline: none;
    width:100%;
}

.main .body .party-last form .button-submit {
    text-align: center;
    margin-top: 32px;
}

.main .body .party-last form button {
    padding:10px 30px;
    border:none;
    background-color: #a6192e;
    color:white;
    border-radius: 20px;
}


/* End Party */

